body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;
}

nav {
    background: #4e73df;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    text-align: center;
    padding: 150px 20px;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    color: white;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.content {
    padding: 50px;
}